h1 {
    color: black;
}

* {
    border: none;
}
.header{
    background-color: darkorchid;
    display:flex;
    justify-content: space-between;
    
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p, h2{
    text-align: center;
}
body{
    /* background-image: url("bg img.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #fba6f7;
}